.form {
  border: 2px dashed teal;

  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 15px;
  box-sizing: border-box;

  // .form__item
  &__item {
    margin-bottom: 10px;
    width: 100%;
    text-align: left;
  }

  // .form__item:last-of-type
  .form__item:last-of-type {
    margin-bottom: 0;
  }
}
