//Here you can customize bootstrap
$primary: orange;

@import "~bootstrap/scss/bootstrap";

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  scrollbar-width: thin;
  scrollbar-color: orange #e2ebfb;
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: #e2ebfb;
}

*::-webkit-scrollbar-thumb {
  background-color: orange;
  border-radius: 3px;
}

html {
  scroll-behavior: smooth;
}

.row-first {
  --bs-gutter-y: 1rem;
}

.aside-sticky {
  position: sticky;
  top: 70px;
  // max-height: calc(100vh - 100px - 40px);
  overflow: auto;

  .badge {
    --bs-badge-padding-x: 0.5em;
    --bs-badge-padding-y: 0.2em;
    font-size: 1rem;
    transform: translate(0, 3px);
  }
}

.goods {
  --bs-gutter-x: 0.5rem;
  --bs-gutter-y: 0.5rem;
  display: flex;
  flex-wrap: wrap;
}

.korzina {
  // .korzina__item
  &__item {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  // .korzina__price
  &__price {
    margin-left: auto;
    white-space: nowrap;
  }

  // .korzina__remove-btn
  &__remove-btn {
    color: red;
  }
}

.link-to-cart {
  align-items: center;
  color: #ffffff;
  display: inline-flex;
  font-size: var(--bs-navbar-toggler-font-size);
  justify-content: center;
  line-height: 1;
  margin-left: auto;
  margin-right: 0.5rem;
  opacity: 0.5;
  padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
  position: relative;
  text-decoration: none;
  transition: all 0.3s ease;

  @media (min-width: 768px) {
    display: none;
  }

  &:hover {
    color: #ffffff;
    opacity: 1;
  }

  .badge {
    --bs-badge-padding-x: 0.5em;
    --bs-badge-padding-y: 0.2em;
  }
}

.about-img {
  max-width: 280px;
}

.shiping-method {
  .btn {
    font-size: 12px;
    font-weight: bold;
  }
}

.fast-links {
  border-radius: var(--bs-list-group-border-radius);
  border: var(--bs-list-group-border-width) solid
    var(--bs-list-group-border-color);
  position: sticky;
  top: 55px;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  row-gap: 2px;
  column-gap: 10px;
  padding: 5px 0.5rem;
  background-color: #ffffff;
  z-index: 3;
  font-size: 12px;
  flex-direction: row;

  a {
    color: #000000;

    &:hover {
      text-decoration: none;
    }
  }
}

.link-target-with-offset {
  &:before {
    content: "";
    display: block;
    height: 145px;
    margin: -145px 0 0;
    pointer-events: none;

    @media (min-width: 576px) {
      height: 125px;
      margin: -125px 0 0;
    }

    @media (min-width: 992px) {
      height: 105px;
      margin: -105px 0 0;
    }
  }
}

.small-text {
  font-size: 14px;
  line-height: 1;
}

.map {
  width: 100%;

  iframe {
    object-fit: cover;
    width: 100%;
  }
}

.geo-point {
  align-items: center;
  color: #ffffff;
  display: inline-flex;
  gap: 4px;
  opacity: 0.8;
  padding-right: var(--bs-navbar-nav-link-padding-x);
  padding-left: var(--bs-navbar-nav-link-padding-x);
}
